/* 
************************Style home-page**********************
 */

.courses-page {
    border-radius: 15px;
    margin: 10px 0px;
    padding: 0px 10px;
}
/* .courses-page .section {}
.courses-page .section .title {} */
.section .tutors .tutor {
    border: 2px #53A254 solid;
    background: #ddd;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 25px;
    border-radius: 50px;
    padding: 3px;
    margin: 5px;
}
.section .tutors .tutor img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.section-workshop {
    margin-top: 50px;
}
.section-workshop .course a {
    margin-right: 50px;
    text-decoration: none; 
}
.section-workshop .course .block {
    width: 250px;
    height: 170px;
    background: #e2e2e2 !important;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 30px;
}
.section-workshop .course .block .user {
    padding: 20px;
    margin: 8px;
    margin-top: -40px;
    z-index: 1;
}
.section-workshop .course .block .user .pic {
    width: 35px;
    height: 35px;
    border: 1px #15B5FA solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.section-workshop .course .block .user .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section-workshop .course .block .dura {
    top: 50px;
    left: 50px;
    background: rgb(168, 98, 6);
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
}
.section-workshop .course .block .dura .dur {
    top: 90px;
    left: 15px;
    color: cornsilk;
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
.section-workshop .course .block .course-name {
    bottom: 10px;
    left: 10px;
    right: 75px;
    /* background: #181717; */
    border-radius: 10px;
}
.section-workshop .course .block .course-name a {
    color: #15B5FA;
}

/* 
************************Style Course-detail**********************
 */
.course-info{
    flex: 1;
}

.course-detail {
    border-radius: 15px;
    margin: 10px 0px;
    padding: 0px 10px;
}
.course-detail .tutor {
    top: 30px;
    padding: 10px 0px;
}
.course-detail .tutor .pic{
    width: 85px;
    height: 85px;
    border-radius: 25px;
    background: #eee;
    margin-right: 10px;
}
.course-detail .tutor .pic img{
    width: 100%;
    height: 100%;
    border-radius: 25%;
}
/* .course-detail .tutor .meta {} */
.course-detail .tutor .meta .name{
    padding: 0px 10px;
    margin: -5px 0px;
}
/* .course-detail .tutor .meta .uname{} */

/* .course-detail .course-meta{} */
.course-detail .course-meta .title{
    margin-top: 10px;
    margin-bottom: 15px;
}

.course-video{
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px;
}
.course-video a{
    padding: 0px 5px;
    margin-top: -35px; 
}
.course-video a .id{
    background: #D9EDD7;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-right: 10px;
}
/* .course-video a .meta{}
.course-video a .meta {} */
.course-video a .meta .lbl{
    margin-top: 20px;
}
.course-video a .meta .dur{
    margin-top: -10px;
}
/* .course-video a:hover {} */

.course-preview{
    flex: 1;
    /* margin-left: 15px; */
}

.extra-block {
    flex-direction: row;
    padding: 5px 0px;
}
.chat {
    flex: 1;
    margin-right: 20px;
}
.chat .messages {
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
}
.chat .messages .bubble {
    align-self: flex-start;
    width: 100%;
    margin: -15px 0px;
} 
.chat .messages .bubble .txt{
    background: #dacaca73;
    line-height: 1px;
    padding: 15px;
    border-radius: 20px 20px 20px 0px;
}
.chat .messages .bubble-mine{
    text-align: right;
}
.chat .messages .bubble-mine .txt{
    background: #181717f7;
    line-height: 1px;
    padding: 15px;
    color: #fff;
    border-radius: 20px 20px 0px 20px !important;
}
.chat .messages .bubble-mine input{
    line-height: 0px;
    padding: 5px;
    color: rgb(20, 20, 20);
    width: 100%;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px !important;
}
.watch-now {
    flex: 1;
    margin-left: 15px;
}
.watch-now .tooltip {
    background: #15B5FA;
    top: 36px;
    right: 0px;
    border-radius: 10px;
    padding: 5px 15px;
}
/* .watch-now .you {}  */
.watch-now .you .pic{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 20px;
    background: #eee;
}
.watch-now .you .pic img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/* .watch-now .you .meta{} */
.watch-now .you .meta .name{
    margin: -10px;
}
/* .watch-now .you .meta .uname{} */