/* 
************************Style home-page**********************
 */

.home-page {
       /* background: #f2f3f2; */
       border-radius: 15px;
       margin: 10px 0px;
       padding: 0px 10px;
}
.home-page .section {
    padding: 0px;
    margin: 0px;
}
.home-page .section .title{
    margin-bottom: 10px;
}
/* .home-page .section .tutors{} */
.section .tutors .tutor {
    border: 1px #79C072 solid;
    background: #ddd;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 25px;
    border-radius: 50px;
    padding: 3px;
    margin: 5px;
}
.section .tutors .tutor img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
/* .home-page .section .tutors .tutor:hover {} */

.section-b {
    margin-top: 50px;
}
/* .home-page .section-b .courses{} */
.section-b .courses a {
    margin-right: 50px;
    text-decoration: none; 
}
.section-b .courses .block{
    width: 225px;
    height: 375px;
    background: #e2e2e2 !important;
    border-radius: 20px;
    margin-left: 9px;
    margin-right: 0px;
   
}

 .section-b .courses .block .user{
    padding: 20px;
    z-index: 1;
}
.section-b .courses .block .user .pic{
    width: 40px;
    height: 40px;
    border: 1px #15B5FA solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.section-b .courses .block .user .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* .home-page .section-b .courses .block .user .meta{} */
.section-b .courses .block .user .meta .name{
    padding: 0px;
    margin: 0px;
}
/* .home-page .section-b .courses .block .user .meta .uname{} */

.section-b .courses .block .dura {
    top: 90px;
    left: 25px;
    background: rgb(168, 98, 6);
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
}
.section-b .courses .block .dura .dur{
    top: 90px;
    left: 15px;
    color: cornsilk;
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
.section-b .courses .block .course-name {
    bottom: 20px;
    left: 20px;
    right: 15px;
    /* background: #a09a9a; */
   
    border-radius: 10px;
}
.section-b .courses .block .course-name a {
    color: #15B5FA;
}
.top-tutors {
    flex-wrap: wrap;
}
.section .user-block{
    margin: 0px 95px 30px 0px;
    margin-right: 105px;
}
.section .user-block .pic {
    width: 40px;
    height: 40px;
    border: 1px #15B5FA solid;
    border-radius: 50%;/* 
    ***************SIDEBAR***************************
     */
    
    margin-right: 10px;
}
.section .user-block .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section .user-block .meta{
    margin-right: 5px;
    padding: 0px;
}
.section .user-block .meta .name{
    padding: 0px;
    margin: 0px;

}
.section .user-block .meta .uname{
    padding: 0px;
    margin: 0px;
}

/* 
************************Style home-page WorkShop Section**********************
 */

.section-workshop {
    margin-top: 50px;
}
.section-workshop .course a {
    margin-right: 50px;
    text-decoration: none; 
}
.section-workshop .course .block {
    width: 250px;
    height: 170px;
    background: #e2e2e2 !important;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 30px;
}
.section-workshop .course .block .user {
    padding: 20px;
    margin: 8px;
    margin-top: -40px;
    z-index: 1;
}
.section-workshop .course .block .user .pic {
    width: 35px;
    height: 35px;
    border: 1px #15B5FA solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.section-workshop .course .block .user .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section-workshop .course .block .dura {
    top: 50px;
    left: 50px;
    background: rgb(168, 98, 6);
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
}
.section-workshop .course .block .dura .dur {
    top: 90px;
    left: 15px;
    color: cornsilk;
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
.section-workshop .course .block .course-name {
    bottom: 10px;
    left: 10px;
    right: 75px;
    /* background: #181717; */
    border-radius: 10px;
}
.section-workshop .course .block .course-name a {
    color: #15B5FA;
}