.App {
    padding: 0px 30px 0px 29px;
    /* background: #f0efef; */
}
/* 
***************SIDEBAR***************************
 */

.sidebar {
    width: 275px;
    margin-right: 25px;
    /* background:  rgb(184, 242, 245);
    top: 10px; */
}

.sidebar .logo {
    padding: 25px 45px;
}
.sidebar .logo img {
    height: 45px;
}

.sidebar .nav{
    padding: 5px 5px;
    background: #e9ffea;
    margin: 6px 6px;
    border-radius: 10px;
    margin-right: 5px;
}
.sidebar .nav li{
    list-style: none;
 }
.sidebar .nav li a {
    padding: 0px 35px;
    margin-bottom: 0px;
    /* border-radius: 40px; */
}
.sidebar .nav li a .icon{
    margin-right: 10px;
}
.sidebar .nav li a .lbl{
    padding: 0px;
    margin: 5px;
}

.sidebar .nav li a.on{
    border-left: 2px rgb(72,148,86) solid;
    color: rgb(72,148,86);
    line-height: 1px;
}


.sidebar .nav li a:hover,
.sidebar .nav li a:active {
    border-left: 2px rgb(72,148,86) solid;
    color: rgb(72,148,86);
    line-height: 1px;




    /* TODO: Create Click on menu */

}

.sidebar .updated-course {
    padding: 10px 10px;
    margin: 12px 7px;
    border-radius: 10px;
    background: #e9ffea;
}
.sidebar .updated-course .ico {
    font-size: 24px;
    padding: 15px;
    background: #53A254;
    color: #fff;
    border-radius: 20px;
    margin-right: 10px;
}
/* .sidebar .updated-course .lbl {}
.sidebar .updated-course .lbl .author {} */

.sidebar .stats {
    align-items: center;
    padding: 0px 10px;
    margin: 5px 7px;
    background: #e9ffea;
    border-radius: 10px;
}
.sidebar .stats .stat-box {
    flex-direction: column;
    width: 95px;
}
.sidebar .stats .stat-box .ico{
    font-size: 20px;
    margin-bottom: 15px;
    margin: 0px 0px;
}

.sidebar .stats .stat-box .val{
    margin: 0px 0px;
}
.sidebar .stats .stat-box .lbl{
    margin: 0px 10px;
    margin-top: -5px;
}

.sidebar .profile {
    padding: 5px 15px;
    margin: 10px 10px;
    background: #e9ffea;
    border-radius: 10px;
}
.sidebar .profile .ico {
    font-size: 24px;
    padding: 15px;
    background: #53A254;
    color: #fff;
    border-radius: 20px;
    margin-right: 10px;
}
/* .sidebar .profile .lbl {} */

.sidebar .profile .user-profile {
    border: 2px #53A254 solid;
    background: #ddd;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 30px;
    padding: 3px;
}
.sidebar .profile .user-profile img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.sidebar .music-box {
    padding: 10px 5px;
    margin: 15px 9px;
    border-radius: 10px;
    background: #e9ffea
}
.sidebar .music-box .music-profile {
    border: 1px #53A254 solid;
    background: #ddd;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 10px;
    padding: 2px;
}
.sidebar .music-box .music-profile img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.app-content {
    flex: 2;
    padding: 20px 0px;
}

/* 
************************Style home-page**********************
 */

.home-page {
    /* background: #f2f3f2; */
    border-radius: 15px;
    margin: 10px 0px;
    padding: 0px 30px;
}
.home-page .section {
    padding: 0px;
    margin: 0px;
}
.home-page .section .title{
    margin-bottom: 10px;
}
/* .home-page .section .tutors{} */
.section .tutors .tutor {
    border: 2px #53A254 solid;
    background: #ddd;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 25px;
    border-radius: 50px;
    padding: 3px;
    margin: 5px;
}
.section .tutors .tutor img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
/* .home-page .section .tutors .tutor:hover {} */

.section-b {
    margin-top: 50px;
}
/* .home-page .section-b .courses{} */
.section-b .courses a{
    margin-right: 50px;
    text-decoration: none; 
}
.section-b .courses .block{
    width: 225px;
    height: 375px;
    background: #e2e2e2 !important;
    border-radius: 20px;
    margin-left: 9px;
    margin-right: 0px;
   
}

 .section-b .courses .block .user{
    padding: 20px;
    z-index: 1;
}
.section-b .courses .block .user .pic{
    width: 40px;
    height: 40px;
    border: 2px rgb(76,175,80) solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}
.section-b .courses .block .user .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* .home-page .section-b .courses .block .user .meta{} */
.section-b .courses .block .user .meta .name{
    padding: 0px;
    margin: 0px;
}
/* .home-page .section-b .courses .block .user .meta .uname{} */

.section-b .courses .block .dura {
    top: 90px;
    left: 25px;
    background: #53A254;
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
}
.section-b .courses .block .dura .dur{
    top: 90px;
    left: 15px;
    color: cornsilk;
    line-height: 1;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
.section-b .courses .block .course-name {
    bottom: 20px;
    left: 20px;
    right: 15px;
    background: #2e2e2e;
    border-radius: 10px;
}
.top-tutors {
    flex-wrap: wrap;
}
.section .user-block{
    margin: 0px 95px 30px 0px;
    margin-right: 105px;
}
.section .user-block .pic {
    width: 40px;
    height: 40px;
    border: 2px rgb(76,175,80) solid;
    border-radius: 50%;/* 
    ***************SIDEBAR***************************
     */
    
    margin-right: 10px;
}
.section .user-block .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section .user-block .meta{
    margin-right: 5px;
    padding: 0px;
}
.section .user-block .meta .name{
    padding: 0px;
    margin: 0px;

}
.section .user-block .meta .uname{
    padding: 0px;
    margin: 0px;
}

/* 
***************RightBAR***************************
 */
.rightbar {
    flex: 1;
    padding: 12px 16px;
    margin: 13px 15px;
    width: 275px;
    /* margin-left: 275px; */
}
.rightbar .search-box {
    margin: 0px 0px;
}
.rightbar .search-box .qry {
    border: 0px;
    flex: 1;
    background: #f1f1f1;
    padding: 15px;
    margin-right: 5px;
    border-radius: 5px;
}
.rightbar .search-box .qry:focus{
    background: #e0e0e0;
}
.rightbar .search-box .go{
    background: #53A254;
    color: white;
    padding: 0px 20px;
    border-radius: 5px;
}
.rightbar .search-box .go:hover{
    background: rgb(16, 109, 17);
}
.rightbar .section-c {
    margin-left: 15px;
}
.rightbar .category-list {
    margin-top: 15px;
    margin-bottom: 0px;
}
.rightbar li a {
    padding: 0px 10px;
    margin-bottom: 0px;
    margin: 15px;
}
.rightbar li a:hover,
.rightbar li a:active {
    padding: 0px 10px;
    margin-bottom: 10px;
    margin: 10px;
    /* border-left: 2px rgb(72,148,86) solid; */
    color: rgb(72,148,86);
    /* line-height: 1px; */
}